.nav {
    background-color: rgba(167, 232, 200, 0.746) ;
    padding: 7px;
    text-align: center;
}
.menu {
    color:blue;
    text-decoration: none;
    padding: 2px 5px;
}
.active_menu{
    color: red;
    background-color: yellow;
    text-decoration: none;
    padding: 2px 5px;
}